*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: cornflowerblue;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main {
    background-color: rgb(230, 230, 230);
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start
}

.open-button {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    font-weight: bold;
    cursor: pointer;
}

.book {
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.read-icon {
    margin-top: 10px;
    align-self: flex-end;
    padding-bottom: 15px;
}

.read-icon:hover {
    cursor: pointer;
    fill: cornflowerblue;
}

.delete-icon {
    align-self: flex-end;
}

.delete-icon:hover {
    fill: red;
    cursor: pointer;
}

.book p {
    align-self: flex-start;
}

#book-image {
    align-self: center;
    padding-bottom: 10px;
}

dialog::backdrop {
    background-color: black;
    opacity: 0.50;
}

dialog {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    min-width: 250px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#title, #author, #number {
    width: 100%; 
    text-align: right;
}

form button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
}

#close-button {
    border: none;
    background-color: white;
    padding-left: 100px;
}